body{
    background-color: black;
    color: whitesmoke;
}

#nav{
    display: none;
}

#nav-bar{
    display: flex;
    flex-direction: column;
    /* background-color: plum; */
    /* position: fixed; */
    width: 100%;
    height: 28%;
    /* margin: auto; */
    z-index: 1;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 10px;
    /* display: none; */
}

#nav-bar #logo {
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-bottom: -7px;
}

.menu a{
    list-style: none;
    text-decoration: none;
    color: white;
}

.menu a:hover{
    font-weight: bolder;
    font-size: 17px;
}

#nav-bar ul{
    display: none;
}

#nav-bar li{
    padding: 15px;
    margin: auto;
    color: white;
}

#nav-bar h1{
    font-weight: 400;
    font-size: 35px;
    color: white;
    font-family: serif;
    height: 50px;
    width: 100%;
    margin: auto;
    padding-bottom: 8px;
    /* background-color: aqua; */

}


.search input{
    border-radius:10px;
    border: 0px;
    height: 20px;
    text-align: center;
    padding: 5px;
    margin-left: 10px;
    width: 80%;
    margin-top: 0px;
}

#main-case{
    /* background-color: blueviolet; */
    width: 98vw;
    top: 0%;
    margin-left: -5px;
    margin-top: -6px;
    height: 60vh;
    /* border: 1px solid; */
    border-radius: 0px;
    /* position: relative; */
    background-image: url(pics/pigs.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    /* display: none; */
    padding-bottom: 17px;
}


.intro-case{
    width: 98vw;
    height: 60vh;
    border-radius: 0px;
    top: 0%;
    /* background-color: yellow; */
    /* display: none; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

#small_screen_display{
    /* display: none; */
    width: 100%;
    height: 50vh;
}

#x_text{
    /* display: initial; */
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    width: 100%;
    height: 67%;
}

.x_blur-pic{
    display: none;
}

#back-blur{
    display: none;
}


#text{
    display: none;
   
}

#text img{
    display: none;
    width: 17px;
    height: 17px;
    object-fit: cover;
}


.main-text{
    display: none;
    color: white;
    width: 60%;
    height: 400px;
    padding-top: 30px;
    padding-left: 80px;
    /* background-color: aqua; */
}

#x_text{
    /* display: none; */
    display: flex;
    flex-direction: column;
    /* background-color: red; */
    height: 95px;
    /* margin-top: 129px; */
}

#x_text img{
    width: 18px;
    height: 18px;
    object-fit: cover;
    margin-bottom: -3px;
    padding-right: 3px;
}

.play_btn button{
    width: 70px;
    padding: 6px;
    border: 0px;
    border-radius: 5px;
    gap: 20px;
    background-color: white;
    font-family: serif;
    font-size: 13px;
}

.play_btn{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background-color: palevioletred; */
    height: 65%;
    bottom: 0px;
    padding-right: 13px;
    
}

.x_main-text{
    /* display: none; */
    display: flex;
    /* display: none; */
    flex-direction: row;
    justify-content: space-between;
    /* background-color: aliceblue; */
    padding-bottom: 5px;
    margin-bottom: 30px;
}

.intro{
    /* background-color: pink; */
    width: 60%;
    height: 90px;
    justify-content: baseline;
}

.intro h3{
    font-size: 19px;
}

.intro p{
    /* background-color: plum; */
    font-size: 13px;
    margin-top: -7px;
    /* margin-left: -3px; */
}

.intro span{
    background-color: rgba(46, 46, 46, 0.545);
    border-radius: 5px;
    padding: 4px;
}

.intro1{
    background-image: url(pics/counter2.jpg);
}


.intro2{
    background-image: url(pics/celebrity.jpg);
}


.intro3{
    background-image: url(pics/liar.jpg);
}


.intro4{
    background-image: url(pics/name.jpg);
}


.intro5{
    background-image: url(pics/real.jpg);
}


#nav{
    display: none;
}

.star{
    display: none;
    display: flex;
    flex-direction: row;
}

.star img{
    display: none;
    padding: 2px;
    width: 20px;
    height: 20px;
    object-fit: cover;
}

.red{
    display: none;
    background-color: red;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
}


.x_red{
    display: initial;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
}

.x_main-p{
    padding-left: 5px;
    padding-right: 5px;
}

.main-btn button img{
    display: none;
    width: 15px;
    margin-bottom: -3px;
}

.x_main-btn button img{
    display: initial;
    width: 15px;
    margin-bottom: -3px;
}

.x_main-btn button{
    display: none;
    border: 0px;
    border-radius: 10px;
    height: 35px;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 450;
    background-color: rgb(165, 99, 42);
    color: white;
    margin-left: 15px;
}



/* -----------------genre section-------------------- */
#genre{
    display: flex;
    flex-direction: column;
}

.gen-name{
    /* background-color: tomato; */
    text-align: center;
    display: initial;
    width: 100%;
    height: 20px;
    margin-top: 35px;
    padding-bottom: 20px;
    padding-right: 6px;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}

.gen-name h2{
    display: initial;
    font-size: 18px;
    color: black;
    /* background-color: pink; */
    /* text-align: center; */
    align-self: center;
    width: fit-content;
    height: 20px;
    font-style: italic;
    font-family: serif;
    font-weight: 400;
    margin-bottom: -5px;
    padding-left: 15px;
    color: whitesmoke;
    /* padding-left: 25px; */
}

.gen-name a{
    /* display: none; */
    width: fit-content;
    font-size: 13px;
    list-style: none;
    /* background-color: purple; */
    align-self: center;
    /* justify-self: right; */
    height: 30px;
    text-decoration: none;
    /* margin-right: 10px; */
    /* margin-top: 30px; */
    color: whitesmoke;
    font-family: serif;
    font-style: italic;
}

.gen-name a:hover{
    font-weight: bolder;
}

.boxes a{
    /* background-color: chartreuse; */
    width: 145px;
    height: 190px;
    padding-bottom: 5px;
    border-radius: 10px;
    position: relative;
    margin-bottom: 10px;
}

.bx{
    /* background-color:red; */
    display: initial;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    position: absolute;
}

/* .bx:hover{
    box-shadow: 0 3px 6px rgb(63, 61, 61);
    transform: translate(0px, -8px);
    transition-timing-function: ease-in-out;
    transition: 0.5s;
} */

.bx img{
    /* display: none; */
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.bx .content{
    /* width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    position: absolute;
    border-radius:0px 0px 20px 20px;
    background-color: cornflowerblue;
    backdrop-filter: blur(7px);
    z-index: 1;
    bottom: 0%;
    color: white; */
    display: none;
}

.bx .x_content{
    width: 100%;
    height: 27%;
    display: flex;
    flex-direction: column;
    position: absolute;
    border-radius:0px 0px 10px 10px;
    /* background-color: cornflowerblue; */
    backdrop-filter: blur(7px);
    z-index: 1;
    bottom: 0%;
    color: white;
}

.content h3{
    /* background-color: pink;
    font-size: 13px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    display: none;
    /* padding: 5px 0px 0px 10px; */
    /* margin-top: -9px; */
}


.x_content h3{
    /* background-color: pink; */
    font-size: 13px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: initial;
    /* padding: 5px 0px 0px 10px; */
    margin-top: -0px;
    margin-bottom: 0px;
    padding-bottom: 1px;
    padding-left: 6px;
}

.x_content p{
    display: initial;
    /* background-color: plum; */
    font-size: 9px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 6px;
    padding-bottom: 4px;
    /* padding: 0px 0px 5px 10px; */
    /* margin-top: -16px; */

}

.content div{
    display: none;
    /* font-size: 13px;
    /* padding: 0px 0px 5px 10px; */
    /* margin-top: -10px; */
    /* color: white;
    font-weight: 700; */
/*     
} */ */

.x_content div{
    display: initial;
    font-size: 13px;
    /* padding: 0px 0px 5px 10px; */
    /* margin-top: -10px; */
    color: white;
    font-weight: 700;
    
}

/* .content div span{ */
    /* display: none;
    font-size: 10px;
    padding: 2px;
    border-radius: 9px;
    color: black;
    background-color: yellow; */
}

.x_content div span{
    display: initial;
    font-size: 10px;
    font-weight: 400;
    padding: 1px 1px 2px 2px ;
    border-radius: 7px;
    color: black;
    background-color: yellow;
}

.boxes{
    display: initial;
    display: flex;
    width: 98vw;
    margin-left: -5px;
    height: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* background-color: blue; */
    /* display: none; */
}

.rate img{
    width: 11px;
    height: 11px;
    object-fit: cover;
    margin-bottom: -2px;
}

.rate{
    font-size: 10px;
    padding-left: 6px;
}

#no-display{
    display:none;
}



/* -------------------------------------SLIDE 2------------------------------ */
.animation-div{
    /* background-color: palevioletred; */
    width: 97vw;
    height: 470px;
    /* filter: blur(90px); */
    padding-bottom: 40px;
    /* padding-top: 5px; */
}

.animation-div h3{
    /* background-color: pink; */
    font-size: 30px;
    font-weight: 400;
    font-family: serif;
    font-style: italic;
    text-align: center;
}


.animation-div a{
    text-decoration: none;
    color: black;
    font-family: serif;
    font-style: italic;
    font-size: 19px;
    margin: auto;
}

.animation-div a:hover{
    font-weight: bolder;
}

.animation-link{
    display: flex;
    justify-content: space-between;
    
}

.animation-link a{
    margin-top: 8px;
    color: whitesmoke;
}


#upcoming_animation{
    width: 100%;
    height: 380px;
    /* background-color: rgb(206, 18, 206); */
    /* margin-top: 10px; */
    object-fit: contain;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    animation-name: upcoming;
    animation-duration: 20s;
    animation-direction: normal;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}

@keyframes upcoming{
    0% {
        background-image: url(pics/land.jpg);
        width: 100%;
    }

    25% {
        background-image: url(pics/yumi2.jpg);
        width: 100%;
    }

    50% {
        background-image: url(pics/revenge.jpg);
        width: 100%;
    }

    75% {
        background-image: url(pics/pigs.jpg);
        width: 100%;
    }

    100% {
        background-image: url(pics/married.jpg);
        width: 100%;
    }
}


#ongoing_animation{
    width: 97vw;
    height: 380px;
   
    /* background-color: rgb(100, 16, 100); */
    /* margin-top: 20px; */
    object-fit: cover;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    animation-name: ongoing;
    animation-duration: 25s;
    animation-direction: normal;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}

@keyframes ongoing{
    0% {
        background-image: url(pics/name.jpg);
        width: 100%;
    }

    25% {
        background-image: url(pics/glory1.jpg);
        width: 100%;
    }

    50% {
        background-image: url(pics/island.jpg);
        width: 100%;
    }

    75% {
        background-image: url(pics/AIB1.jpg);
        width: 100%;
    }

    100% {
        background-image: url(pics/AOUAD.jpg);
        width: 100%;
    }
}


#movies_animation{
    width: 97vw;
    height: 380px;
   
    /* background-color: rgb(100, 16, 100); */
    /* margin-top: 20px; */
    object-fit: cover;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    animation-name: movies;
    animation-duration: 20s;
    animation-direction: normal;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}

@keyframes movies{
    0% {
        background-image: url(pics/blind.jpg);
        width: 100%;
    }

    25% {
        background-image: url(pics/mouth.jpg);
        width: 100%;
    }

    50% {
        background-image: url(pics/bad&crazy.jpg);
        width: 100%;
    }

    75% {
        background-image: url(pics/totnt.jpg);
        width: 100%;
    }

    100% {
        background-image: url(pics/trap.jpg);
        width: 100%;
    }
}


#tv_animation{
    width: 97vw;
    height: 380px;
   
    /* background-color: rgb(100, 16, 100); */
    /* margin-top: 20px; */
    object-fit: cover;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    animation-name: tv;
    animation-duration: 20s;
    animation-direction: normal;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}

@keyframes tv{
    0% {
        background-image: url(pics/dnwl2.jpg);
        width: 100%;
    }

    25% {
        background-image: url(pics/shoplist.jpg);
        width: 100%;
    }

    50% {
        background-image: url(pics/mrqueen.jpg);
        width: 100%;
    }

    75% {
        background-image: url(pics/waikiki2.jpg);
        width: 100%;
    }

    100% {
        background-image: url(pics/fiery.jpg);
        width: 100%;
    }
}









